@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primaryColor: #f2ebe3;
$secondaryColor: #3c8067;
$hoverColor: #1c4a39;
$grayTextColor: #6c7289;

body {
  background-color: $primaryColor;
  height: 100vh;
  display: flex;
  align-items: center;

  .main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;

    .image-container {
      flex: 1;

      .main-image {
        content: url('../assets/image-product-mobile.jpg');
        height: 100%;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }

    .text-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 20px;

      .category {
        text-transform: uppercase;
        color: $grayTextColor;
        letter-spacing: 4px;
      }

      .title {
        font-family: "Fraunces", serif;
        margin: 16px 0;
      }

      .description {
        color: $grayTextColor;
      }

      .price {
        display: flex;
        align-items: center;
        margin: 16px 0;
        font-family: "Fraunces", serif;

        .normal {
          color: $secondaryColor;
          font-size: 1.7rem;
          margin-right: 20px;
        }

        .sale {
          text-decoration: line-through;
          color: $grayTextColor;
        }
      }

      .text-container-btn {
        width: 100%;
        background-color: $secondaryColor;
        color: white;
        border: none;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;

        &:hover {
          background-color: $hoverColor;
        }

        img {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .main {
      flex-direction: row;
      width: 100%;

      .image-container {
        .main-image {
          content: url('../assets/image-product-desktop.jpg');
          border-top-right-radius: 0;
          border-bottom-left-radius: 20px;
        }
      }

      .text-container {
        padding: 40px;
      }
    }
  }
}